<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="login()">
    <ion-item>
      <ion-label position="floating">Matrícula</ion-label>
      <ion-input type="text" [(ngModel)]="matricula" name="matricula" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button class="btn-login" expand="full" type="submit">Iniciar Sesión</ion-button>
    <ion-button class="btn-register" expand="full" fill="outline" (click)="goToRegister()">Registrarse</ion-button>
  </form>
</ion-content>